<div class="card col-6 col-offset-3 custom-background border-round-2xl p-4 mt-4">
  <p-toast></p-toast>
  <form #loginForm="ngForm">

    <h2>LOGIN</h2>
    <hr class="mb-5">

    <div class="field mb-4">
      <span class="p-float-label">
        <input pInputText name="email" id="email" #email="ngModel" [(ngModel)]="user.email" required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
        <label htmlFor="email">Email</label>
        <span *ngIf="!email.valid && email.touched" class="text-red-500 ml-2">El email es obligatorio!</span>
      </span>
    </div>

    <div class="field">
      <span class="p-float-label">
        <p-password name="password" [(ngModel)]="user.password" #password="ngModel" [feedback]="false"
          required></p-password>
        <label for="password">Contraseña</label>
        <span *ngIf="!password.valid && password.touched" class="text-red-500 ml-2">La contraseña es obligatoria!</span>
      </span>
    </div>

    <p-button label="Login" styleClass="p-button-success" (onClick)="onSubmit(loginForm)"
      [disabled]="!loginForm.valid"></p-button>

  </form>
</div>
